body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background: black;
}

#grid {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background: repeating-linear-gradient(transparent, rgba(0,125,0,0.2) 2px),
            repeating-linear-gradient(0.25turn, transparent, rgba(125,0,125,0.1) 1px);
}

#output {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background: radial-gradient(circle, rgba(0,125,0,0.5), rgba(0,125,0,0.25) 25%, rgba(0,125,0,0) 75%)	
}